.no-margin { margin: 0; }
.no-adding { padding: 0; }

div {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.garden .col, .garden .row {
	padding: 0;
	margin: 0;
}

.plot {
	border: 1px solid skyblue;
}

.pod {
	width: 100%;
}

.pod img {
	display: block;
	width: 100%;
	margin: auto;
}

.pod a {
	display: block;
	width: 100%;
	height: 100%;
	border: 1px solid white;
}

.pod a:hover {
	border: 1px solid yellow;

}

.pod a:active {
	border: 1px solid green;

}

.row {

}
